* {
    box-sizing: border-box;
}

body {
    background-color: yellowgreen;
    text-align: start;
}

.home {
    text-align: center;
}

button {
    cursor: pointer;
    font-size: 15px;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: black;
    width: 100%;
    height: 50px;
}

form {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgb(107, 107, 107);
    width: 310px;
    gap: 15px;
    padding: 10px;
}

.user-pref {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: relative;
    top: 60px;
}

input {
    margin-inline-start: 10px;
}

form h3 {
    color: black;
    margin: 0;
}

main {
    display: flex;
}

header h1 {
    text-align: start;
}

header .home-btn {
    text-align: start;
    font-size: 20px;
}

.btn-user-pos {
    font-size: 20px;
}

.places h3 {
    margin-inline-start: 10px;
}